@model Users
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer

<section class="content">
    <div class="container">
        <form method="post" asp-action="EditUser" asp-controller="Users">
            <input asp-for="UserID" hidden />
            <div class="row my-2">
                <div class="col-md-6 form-group">
                    <label>@Localizer["FirstNameLabel"]</label>
                    <input class="form-control" asp-for="FirstName" placeholder="@Localizer["FirstNamePlaceholder"]" />
                </div>
                <div class="col-md-6 form-group">
                    <label>@Localizer["LastNameLabel"]</label>
                    <input class="form-control" asp-for="LastName" placeholder="@Localizer["LastNamePlaceholder"]" />
                </div>
                <div class="col-md-6 form-group">
                    <label>@Localizer["MobileLabel"]</label>
                    <input class="form-control" asp-for="MobileNumber" placeholder="@Localizer["MobilePlaceholder"]" />
                </div>
                <div class="col-md-6 form-group">
                    <label>@Localizer["EmailLabel"]</label>
                    <input class="form-control" asp-for="Email" placeholder="@Localizer["EmailPlaceholder"]" />
                </div>
                <div class="col-md-6 form-group">
                    <label>@Localizer["PasswordEditLabel"]</label>
                    <input class="form-control" asp-for="Password" placeholder="@Localizer["PasswordEditPlaceholder"]" />
                </div>
                <div class="col-md-6 form-group">
                    <label>@Localizer["RoleLabel"]</label>
                    <select class="form-control" asp-for="Role">
                        <option value="Admin">@Localizer["RoleAdmin"]</option>
                        <option value="User">@Localizer["RoleUser"]</option>
                    </select>
                </div>
                <div class="col-md-12 my-2">
                    <button type="submit" class="btn btn-primary">@Localizer["UpdateUserButton"]</button>
                </div>
            </div>
        </form>
    </div>
</section>
