@model IEnumerable<CarMaintenance.Models.Receipts>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"><h1>Receipts</h1></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Receipt</li>
                </ol>
            </div>
        </div>
        <hr />
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <a class="btn btn-primary my-3" asp-action="AddReceipt">Create New Receipt</a>
            </h3>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Car</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ReceiptID</td>
                                <td>@item.Customers?.Name</td>
                                <td>@item.Cars?.NumberPlate</td>
                                <td>@item.Date</td>
                                <td>@item.TotalAmount</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">No Record Found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
