<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Localizer["DashboardTitle"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@Localizer["HomeLink"]</a></li>
                    <li class="breadcrumb-item active">@Localizer["DashboardBreadcrumb"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@ViewData["TotalCustomers"]</h3>
                    <p>@Localizer["CustomersLabel"]</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="/Customers/Index" class="small-box-footer">
                    @Localizer["MoreInfoLink"] <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@ViewData["TotalCars"]</h3>
                    <p>@Localizer["NumberPlateLabel"]</p>
                </div>
                <div class="icon">
                    <i class="fas fa-car"></i>
                </div>
                <a href="/Cars/Index" class="small-box-footer">
                    @Localizer["MoreInfoLink"] <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@ViewData["TotalServices"]</h3>
                    <p>@Localizer["ServicesLabel"]</p>
                </div>
                <div class="icon">
                    <i class="fas fa-wrench"></i>
                </div>
                <a href="/Services/Index" class="small-box-footer">
                    @Localizer["MoreInfoLink"] <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@ViewData["TotalUsers"]</h3>
                    <p>@Localizer["UsersLabel"]</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-lock"></i>
                </div>
                <a href="/Users/Index" class="small-box-footer">
                    @Localizer["MoreInfoLink"] <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>
<!-- /.content -->