@model Cars
@using CarMaintenance
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Localizer["AddNewNumberPlateTitle"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@Localizer["HomeLink"]</a></li>
                    <li class="breadcrumb-item active">@Localizer["CarsBreadcrumb"]</li>
                </ol>
            </div>
        </div>
        <hr />
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container">
        <form method="post" asp-action="AddCar" asp-controller="Cars">
            <div class="row my-2">
                <div class="col-md-6 form-group">
                    <label class="form-label">
                        @Localizer["NumberPlateLabel"]
                        <span class="text-danger fw-bold" asp-validation-for="NumberPlate"></span>
                    </label>
                    <input class="form-control" asp-for="NumberPlate" />
                </div>

                <div class="col-md-6 form-group" hidden>
                    <label class="form-label">@Localizer["CarStatusLabel"] <span class="text-danger fw-bold" asp-validation-for="CarStatus"></span></label>
                    <input class="form-control" asp-for="CarStatus" value="1" />
                </div>

                <div class="col-md-12 my-2">
                    <button type="submit" class="btn btn-primary">@Localizer["AddNumberPlateButton"]</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->