@model Customers
@inject IViewLocalizer Localizer
@using CarMaintenance
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Localizer["AddCustomerTitle"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@Localizer["HomeLink"]</a></li>
                    <li class="breadcrumb-item active">@Localizer["CustomersBreadcrumb"]</li>
                </ol>
            </div>
        </div>
        <hr />
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container">
        <form method="post" asp-action="AddCustomer" asp-controller="Customers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Added validation summary -->
            <div class="row my-2">
                <div class="col-md-6 form-group">
                    <label class="form-label" asp-for="Name">@Localizer["Name"]</label>
                    <input class="form-control" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-label" asp-for="Email">@Localizer["Email"]</label>
                    <input class="form-control" asp-for="Email" type="email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-label" asp-for="EmiratesID">@Localizer["EmiratesID"]</label>
                    <input class="form-control" asp-for="EmiratesID" />
                    <span class="text-danger" asp-validation-for="EmiratesID"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label class="form-label" asp-for="CarID">@Localizer["NumberPlate"]</label>
                    <select class="form-control" asp-for="CarID" asp-items="ViewBag.Cars">
                        <option value="">@Localizer["SelectNumberPlate"]</option>
                    </select>
                    <span class="text-danger" asp-validation-for="CarID"></span>
                </div>
                <div class="col-md-12 my-2">
                    <button type="submit" class="btn btn-primary">@Localizer["AddCustomerButton"]</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" /> <!-- Include validation scripts -->
}